name: Push UI image to ACR

on: workflow_dispatch

permissions:
  contents: write
  id-token: write


env:
  ACR_LOGIN_SERVER: acrtodoappdev01.azurecr.io
  TAG: ${{ github.run_number }}
  IMAGE_NAME: microtodoui

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{env.TAG}} .
          docker push ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{env.TAG}}

      - name: Update manifest with image details
        env:
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          TAG: ${{ env.TAG }}
        run: |
          sed -i "s|#__#IMAGE_NAME#__#|$IMAGE_NAME|g" manifests/deployment.yaml
          sed -i "s|#__#IMAGE_TAG#__#|$TAG|g" manifests/deployment.yaml

      - name: Show manifest after update
        run: cat manifests/deployment.yaml

      - name: Checkout target repo
        uses: actions/checkout@v3
        with:
          repository: Prashantji007/Gitops_setup_using_ArgoCD_Helm
          ref: main
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          path: gitops-repo


      - name: Update Helm values (image tag)
        run: |
          cd gitops-repo
          sed -i "s/ui-tag:.*/ui-tag: $TAG/" Helm/dev-values.yaml
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add Helm/dev-values.yaml
          git commit -m "Update image tag to $TAG"
          git push

      # - name: Login to ACR for Helm
      #   run: echo ${{ secrets.ACR_PASSWORD }} | helm registry login ${{ env.ACR_LOGIN_SERVER }} --username ${{ secrets.ACR_USERNAME }} --password-stdin

      # - name: Package Helm chart
      #   run: |
      #     helm package Helm/UI-Task
      #     FILE=$(ls *.tgz)
      #     echo "PACKAGED_CHART=$FILE" >> $GITHUB_ENV
      
      # - name: Push Helm Chart to ACR
      #   run: |
      #     helm push $PACKAGED_CHART oci://${{ env.ACR_LOGIN_SERVER }}/helm/

